body {
  font-family: Arial, sans-serif;
  text-align: center;
}

header {
  background-color: #473106;
  color: white;
  text-align: center;
  padding: 1em;
}

footer {
  background-color: #064736;
  color: white;
  text-align: center;
  padding: 1em;
  position: fixed;
  bottom: 0;
  width: 100%;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

.product-item {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.product-item img {
  width: 200px;
  height: auto;
  border-radius: 8px;
}